/*---------------------------*/
/* FONT STYLING              */
/*---------------------------*/

.title-big {
  font-size: 300%;
  margin-bottom: -30px;
  font-family: 'Permanent Marker';
}

.font-marker {
font-family: 'Permanent Marker';
}

.font-med {
  font-size: 200%;
  margin-bottom: -20px;
}

.comic-sans {
  font-family: "Comic Sans MS", sans-serif;
}

/*---------------------------*/
/* IMG STYLING               */
/*---------------------------*/

/* Default */
img {
  max-width: 500px;
  max-height: 500px;
}

.img-100 img{
  max-width: 100px;
  max-height: 100px;
}

.img-200 img{
  max-width: 200px;
  max-height: 200px;
}

.img-300 img{
  max-width: 300px;
  max-height: 300px;
}

.img-400 img{
  max-width: 400px;
  max-height: 400px;
}

/*---------------------------*/
/* TRANSITIONS               */
/*---------------------------*/
.hide {
  display: none;
}

.invis {
  visibility: hidden;
}

.zero {
  opacity: 0;
}

.zero-fade {
  opacity: 0;
  transition: opacity 0.5s ease 1s;
}

.full-fade {
  opacity: 100;
  transition: opacity 0.5s ease 1s;
}

/* https://twinery.org/forum/discussion/6383/how-to-make-slow-fade-in-text-on-sugarcube */
.slowfade .macro-repeat-insert,
.slowfade .macro-timed-insert {
-webkit-transition-duration: 3s;
-o-transition-duration: 3s;
transition-duration: 3s;
}


#ui-bar {
	display: none;
}